:host{
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 300px;
    z-index: 20;
}

.close{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.close:hover{
    font-weight: bolder;
}